//------------------
// bg-col-grid
//------------------

@bg-col-grid-fill:          #fbfbfb;
@bg-col-grid-stroke:        #f4f4f4;
@bg-col-grid-stroke-width:  1;

//------------------
// line
//------------------

@line-stroke-color:                   #b3e0f5;
@line-stroke-width:                   2;
@line-stroke-dasharray:               3, 3;

// .target
@line-target-stroke-color:            #b3e0f5;
@line-target-stroke-width:            2;
@line-target-stroke-dasharray:        0;

// .potential_remove
@line-potential_remove-stroke-color:       #f5dcc8;
@line-potential_remove-stroke-width:       2;
@line-potential_remove-stroke-dasharray:   3, 3;

// .connected
@line-connected-stroke-color:         #edf2dd;
@line-connected-stroke-width:         2;
@line-connected-stroke-dasharray:     0;

// .active
@line-active-stroke-color:            #c8e29f;
@line-active-stroke-width:            2;
@line-active-stroke-dasharray:        0;

//------------------
// node
//------------------

@node-fill-color:            #f0f0f0;
@node-stroke-color:          transparent;
@node-stroke-width:          0;
@node-stroke-dasharray:      0;

// .source
@node-source-fill-color:            #b3e0f5;
@node-source-stroke-color:          #84bee9;
@node-source-stroke-width:          1;
@node-source-stroke-dasharray:      0;

// .source-hover
@node-source_hover-fill-color:          #b3e0f5;
@node-source_hover-stroke-color:        transparent;
@node-source_hover-stroke-width:        0;
@node-source_hover-stroke-dasharray:    0;

// .target
@node-target-fill-color:            #b3e0f5;
@node-target-stroke-color:          #84bee9;
@node-target-stroke-width:          1;
@node-target-stroke-dasharray:      0;

// .potential-target
@node-potential_target-fill-color:          #c6e7fb;
@node-potential_target-stroke-color:        #84bee9;
@node-potential_target-stroke-width:        1;
@node-potential_target-stroke-dasharray:    3, 3;

// .potential-target-hover
@node-potential_target_hover-fill-color:           #d7ebf5;
@node-potential_target_hover-stroke-color:         #b9d9f5;
@node-potential_target_hover-stroke-width:         1;
@node-potential_target_hover-stroke-dasharray:     3, 3;

//------------------
// node.connected
//------------------

@node-connected-fill-color:              #ebede3;
@node-connected-stroke-color:            transparent;
@node-connected-stroke-width:            0;
@node-connected-stroke-dasharray:        0;

// .source
@node-connected_source-fill-color:              #d6e8b1;
@node-connected_source-stroke-color:            #84bee9;
@node-connected_source-stroke-width:            1;
@node-connected_source-stroke-dasharray:        0;

// .source-hover
@node-connected_source_hover-fill-color:            #cce69c;
@node-connected_source_hover-stroke-color:          transparent;
@node-connected_source_hover-stroke-width:          0;
@node-connected_source_hover-stroke-dasharray:      0;

// .potential-target
@node-connected_potential_target-fill-color:            #d2e6af;
@node-connected_potential_target-stroke-color:          #9ab86d;
@node-connected_potential_target-stroke-width:          1;
@node-connected_potential_target-stroke-dasharray:      3, 3;

// .potential-target-hover
@node-connected_potential_target_hover-fill-color:          #dff6bc;
@node-connected_potential_target_hover-stroke-color:        #c6e0a4;
@node-connected_potential_target_hover-stroke-width:        1;
@node-connected_potential_target_hover-stroke-dasharray:    3, 3;

// .target
@node-connected_target-fill-color:          #c6e0a4;
@node-connected_target-stroke-color:        transparent;
@node-connected_target-stroke-width:        0;
@node-connected_target-stroke-dasharray:    0;

//------------------
// node.connected.active
//------------------

@node-connected_active-fill-color:              #d9edc2;
@node-connected_active-stroke-color:            transparent;
@node-connected_active-stroke-width:            0;
@node-connected_active-stroke-dasharray:        0;

// .source
@node-connected_active_source-fill-color:          #d6e8b1;
@node-connected_active_source-stroke-color:        #84bee9;
@node-connected_active_source-stroke-width:        1;
@node-connected_active_source-stroke-dasharray:    0;

// .source-hover
@node-connected_active_source_hover-fill-color:          #cce69c;
@node-connected_active_source_hover-stroke-color:        transparent;
@node-connected_active_source_hover-stroke-width:        0;
@node-connected_active_source_hover-stroke-dasharray:    0;

// .potential-target
@node-connected_active_potential_target-fill-color:          #d2e6af;
@node-connected_active_potential_target-stroke-color:        #9ab86d;
@node-connected_active_potential_target-stroke-width:        1;
@node-connected_active_potential_target-stroke-dasharray:    3, 3;

// .potential-target-hover
@node-connected_active_potential_target_hover-fill-color:          #dff6bc;
@node-connected_active_potential_target_hover-stroke-color:        #c6e0a4;
@node-connected_active_potential_target_hover-stroke-width:        1;
@node-connected_active_potential_target_hover-stroke-dasharray:    3, 3;

//------------------
// node.control
//------------------

// .control
@node-control-fill-color:              #fff;
@node-control-stroke-color:            transparent;
@node-control-stroke-width:            0;
@node-control-stroke-dasharray:        0;

// .control_hover
@node-control_hover-fill-color:              #fff;
@node-control_hover-stroke-color:            transparent;
@node-control_hover-stroke-width:            0;
@node-control_hover-stroke-dasharray:        0;

//------------------
// label
//------------------

@label-font-size:           12px;
@label-color:               #2f3031;
@label-pointer-events:      none;

// .control
@label-control-font-size:       34px;
@label-control-color:           @label-color;
@label-control-font-weight:     bold;
@label-control-fill:            #b8d2f2;

// .control_hover
@label-control_hover-fill:            #84bee9;