.angular-svg-nodes {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.angular-svg-nodes text {
    pointer-events: none;
}
.angular-svg-nodes .angular-svg-nodes-bg-col-grid-col {
    fill: #fbfbfb;
    stroke: #f4f4f4;
    stroke-width: 1;
}
.angular-svg-nodes .angular-svg-nodes-line {
    stroke: #b3e0f5;
    stroke-width: 2;
    stroke-dasharray: 3, 3;
}
.angular-svg-nodes .angular-svg-nodes-line.target {
    stroke: #b3e0f5;
    stroke-width: 2;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-line.potential-remove {
    stroke: #f5dcc8;
    stroke-width: 2;
    stroke-dasharray: 3, 3;
}
.angular-svg-nodes .angular-svg-nodes-line.connected {
    stroke: #edf2dd;
    stroke-width: 2;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-line.active {
    stroke: #c8e29f;
    stroke-width: 2;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node {
    cursor: pointer;
    fill: #f0f0f0;
    stroke: transparent;
    stroke-width: 0;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.source {
    fill: #b3e0f5;
    stroke: #84bee9;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.source-hover {
    fill: #b3e0f5;
    stroke: transparent;
    stroke-width: 0;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.target {
    fill: #b3e0f5;
    stroke: #84bee9;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.potential-target {
    fill: #c6e7fb;
    stroke: #84bee9;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}
.angular-svg-nodes .angular-svg-nodes-node.potential-target-hover {
    fill: #c6e7fb;
    stroke: #84bee9;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}
.angular-svg-nodes .angular-svg-nodes-node.connected {
    fill: #ebede3;
    stroke: transparent;
    stroke-width: 0;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.source {
    fill: #d6e8b1;
    stroke: #84bee9;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.source-hover {
    fill: #d6e8b1;
    stroke: #84bee9;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.potential-target {
    fill: #d2e6af;
    stroke: #9ab86d;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.potential-target-hover {
    fill: #dff6bc;
    stroke: #c6e0a4;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.target {
    fill: red;/*#c6e0a4;*/
    stroke: #6a8a44;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.highlight {
    stroke: #0066ff;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.selected {
    stroke: #0066ff;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.active {
    fill: #d9edc2;
    stroke: transparent;
    stroke-width: 0;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.active.source {
    fill: #d6e8b1;
    stroke: #84bee9;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.active.source-hover {
    fill: #cce69c;
    stroke: transparent;
    stroke-width: 0;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.active.target {
    fill: #c6e0a4;
    stroke: #6a8a44;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.active.potential-target {
    fill: #d2e6af;
    stroke: #9ab86d;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.active.potential-target-hover {
    fill: #dff6bc;
    stroke: #c6e0a4;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.active.highlight {
    stroke: #990000;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.connected.active.selected {
    stroke: #0066ff;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.control {
    fill: #ffffff;
    stroke: transparent;
    stroke-width: 0;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.control-hover {
    fill: #ffffff;
    stroke: transparent;
    stroke-width: 0;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.highlight {
    stroke: #990000;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node.selected {
    stroke: #0066ff;
    stroke-width: 1;
    stroke-dasharray: 0;
}
.angular-svg-nodes .angular-svg-nodes-node-label {
    pointer-events: none;
    font-size: 12px;
    color: #2f3031;
}
.angular-svg-nodes .angular-svg-nodes-node-label.control {
    font-size: 34px;
    font-weight: bold;
    color: #2f3031;
    fill: #b8d2f2;
}
.angular-svg-nodes .angular-svg-nodes-node-label.control_hover {
    fill: #84bee9;
}
