
<button class="btn" ng-click="app.insertBlock()">INSERT block</button><html>
<head>
	<title>AngularSvgNodes : Events</title>
    <link rel="stylesheet" href="../styles/page.css">
    <link rel="stylesheet" href="../styles/angular-svg-nodes.css">
</head>
<body ng-app="App" ng-controller="AppController as app">

<div class="row">
	<div class="col-xs-12 description">

		<h2>AngularSvgNodes Events</h2>

		<br/>

	</div>
</div><!--/.row-->

<br/>
<br/>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 example well">

        <div angular-svg-nodes="app.rows"
			 angular-svg-nodes-api="app.svg_nodes_api"
             angular-svg-nodes-node-mouse-down="app.onNodeMouseDown(node, data)"
             angular-svg-nodes-node-mouse-up="app.onNodeMouseUp(node, data)"
             angular-svg-nodes-line-add="app.onLineAdd(source_node, source_data, target_node, target_data, line_index)"
             angular-svg-nodes-line-remove="app.onLineRemove(source_node, source_data, target_node, target_data, line_index)"></div>

	</div>
</div><!--/.row-->

<br/>
<button class="btn" ng-click="app.removeBlock()">REMOVE block</button>
<button class="btn" ng-click="app.insertBlock()">INSERT block</button>

<div class="row">
	<div class="col-xs-6 example well">

        <h2>Node Events</h2>

        <table>
            <tr>
                <td width="200" style="white-space: nowrap;">Event Type</td>
                <td>{{app.node_event_type}}</td>
            </tr>
            <tr>
                <td>Event Node</td>
                <td>{{app.node_event_node}}</td>
            </tr>
            <tr>
                <td>Event Data</td>
                <td>{{app.node_event_data}}</td>
            </tr>
        </table>

	</div>
	<div class="col-xs-6 example well">

        <h2>Line Events</h2>

        <table>
            <tr>
                <td width="200" style="white-space: nowrap;">Event Type</td>
                <td>{{app.line_event_type}}</td>
            </tr>
            <tr>
                <td>Event Source Node</td>
                <td>{{app.line_event_source_node}}</td>
            </tr>
            <tr>
                <td>Event Source Data</td>
                <td>{{app.line_event_source_data}}</td>
            </tr>
            <tr>
                <td>Event Target Node</td>
                <td>{{app.line_event_target_node}}</td>
            </tr>
            <tr>
                <td>Event Target Data</td>
                <td>{{app.line_event_target_data}}</td>
            </tr>
            <tr>
                <td>Event Line Index</td>
                <td>{{app.line_event_line_index}}</td>
            </tr>
        </table>

	</div>
</div><!--/.row-->

<!-- dependencies -->
<script src="../bower_components/lodash/lodash.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/gsap/src/minified/TweenMax.min.js"></script>
<!--<script src="../../../dist/angular-svg-nodes.tmpl.js"></script>-->

<!-- angular-svg-nodes -->
<script src="../../../src/scripts/angular-svg-nodes.js"></script>
<script src="../../../src/scripts/svg-vbox-directive.js"></script>
<script src="../../../src/scripts/angular-svg-nodes-settings.js"></script>
<script src="../../../src/scripts/angular-svg-nodes-controller.js"></script>
<script src="../../../src/scripts/angular-svg-nodes-directive.js"></script>
<script src="../../../src/scripts/angular-svg-nodes-line-directive.js"></script>
<script src="../../../src/scripts/angular-svg-nodes-node-directive.js"></script>
<script src="../../../src/scripts/angular-svg-nodes-bg-col-grid-directive.js"></script>

<!-- example app -->
<script src="scripts/app.js"></script>
<script src="scripts/app-controller.js"></script>
<script src="scripts/angular-svg-nodes-settings.js"></script>

</body>
</html>
</html>
